<section id="tab-section7" class="padding-110px-tb no-padding-top xs-padding-60px-tb builder-bg bg-white">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12 center-col">                            
              <div class="tab-style8">
                  <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                          <!-- tab navigation -->
                          <ul class="nav nav-tabs nav-tabs-light text-left alt-font text-small display-inherit text-center font-weight-500">
                              <li class="active"><a href="#tab_sec1" data-toggle="tab"><span class="tz-text">A</span></a></li>
                              <li class=""><a href="#tab_sec2" data-toggle="tab"><span class="tz-text">B</span></a></li>
                              <li class=""><a href="#tab_sec3" data-toggle="tab"><span class="tz-text">C</span></a></li>
                              <li class=""><a href="#tab_sec4" data-toggle="tab"><span class="tz-text">D</span></a></li>
                          </ul>
                          <!-- tab end navigation -->
                      </div>
                  </div>                                
                                            
              </div>                            
          </div>
      </div>
  </div>
</section>
