  <!-- tab content -->
  <div class="tab-pane med-text fade in active" id="tab_sec1">
      <div class="row">
         
          <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-1">
              <div class="alt-font text-small text-dark-gray margin-nine-top font-weight-600 tz-text">ON TAKING A BREAK</div>
              <h2 class="alt-font title-extra-large sm-title-large xs-title-large text-dark-gray margin-six-bottom tz-text">A</h2>
              <div class="text-medium tz-text width-100 sm-width-100 margin-ten-bottom sm-margin-ten-bottom">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially hanged.Lorem Ipsum is simply dummy text of the printing and typesetting industry but also the leap into electronic.</p></div>
              <a class="btn btn-small border-radius-0 propClone bg-dark-gray text-white" href="#content-section12"><span class="tz-text">READ MORE</span></a>
          </div>
      </div>
  </div>
  <!-- end tab content -->
